.card {
  max-width: 300px;         /* sets a max size without using % */
  width: 100%;              /* allows it to shrink only if necessary */
  padding: 1.5rem;
  border-radius: var(--border-radius);
  margin: 1rem auto;        /* centers the card */
  text-align: center;       /* centers button inside */
  box-sizing: border-box;   /* ensures padding doesn't add to width */
}



/* Gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.gallery-item {
  border: 2px solid black;     /* Outline border color */  
  border-radius: 8px;            /* Rounded corners (optional) */
  padding: 16px;                 /* Inner spacing */
  text-align: center;            /* Center the text */
  font-size: 20px;
  font-family: 'Calibri', sans-serif;
  color: black !important;
  transition: 0.3s ease-in-out;  /* Smooth hover transition */
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 6px white;
}


.gallery-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}


.square-image-container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

